* {
  box-sizing: border-box;
}

html, body {
  height: 100vh;
  margin: 0;
  overflow: hidden;
  padding: 0;
  width: 100vw;
}

body {
  overflow: auto;
  padding: 2rem;
}

code {
  background-color: lightgrey;
  border-radius: 0.1rem;
  padding: 0 0.3rem;
}

img {
  flex-grow: 1;
  flex-shrink: 1;
  max-width: 20%;
  transition-duration: 1s;
  transition-property: all;
}

progress {
  bottom: 0;
  left: 0;
  position: absolute;
  right: 0;
  width: 100%;
}

.center-me {
  align-items: flex-start;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
